{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["plugin:vue/essential", "airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
